name: Main pipeline

on: [push, pull_request]

env:
  APPIMAGE_EXTRACT_AND_RUN: 1
  TERM: xterm-256color

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        # apparently these are interpreted as floats, so we have to wrap them in quotes
        PYTHON_VERSION: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    name: Test against Python ${{ matrix.PYTHON_VERSION }}
    runs-on: ubuntu-24.04
    env:
      PYTHON: python${{ matrix.PYTHON_VERSION }}
    steps:
      - name: Install Python ${{ matrix.PYTHON_VERSION }}
        run: |
          sudo add-apt-repository ppa:deadsnakes/ppa
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
              python${{ matrix.PYTHON_VERSION }} \
              python${{ matrix.PYTHON_VERSION }}-venv
      - uses: actions/checkout@v6
      - name: Build example projects
        run: bash -xe ci/build-example-projects.sh

  appimage:
    strategy:
      fail-fast: false
      matrix:
        OS: [ubuntu-24.04]
        ARCH: [x86_64]
        include:
          - OS: ubuntu-24.04-arm
            ARCH: aarch64
    name: Build AppImage for ${{ matrix.ARCH }}
    runs-on: ${{ matrix.OS }}
    steps:
      - uses: actions/checkout@v6
      - name: Build AppImage
        run: |
          export ARCH="${{ matrix.ARCH }}"
          bash -xe ci/build-appimage.sh
      - name: Archive artifacts
        uses: actions/upload-artifact@v6
        with:
          name: AppImage ${{ matrix.ARCH }}
          path: appimagecraft*.AppImage*

  upload:
    name: Create release and upload artifacts
    runs-on: ubuntu-latest
    needs:
      - test
      - appimage
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
      - name: Inspect directory after downloading artifacts
        run: ls -alFR
      - name: Create release and upload artifacts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
            wget -q https://github.com/TheAssassin/pyuploadtool/releases/download/continuous/pyuploadtool-x86_64.AppImage
            chmod +x pyuploadtool-x86_64.AppImage
            ./pyuploadtool-x86_64.AppImage **/appimagecraft*.AppImage*
